APScheduler==3.6.3
bokeh==2.0.2
ccxt==1.27.20
cx-Oracle==7.3.0
Keras==2.3.1
feedparser==5.2.1
Flask==1.1.2
Flask-APScheduler==1.11.0
Flask-Login==0.5.0
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
h5py==2.10.0
matplotlib==3.2.1
mysqlclient==1.4.6
numpy==1.18.4
oyaml==0.9
pandas==1.0.3
Pillow==7.1.2
psycopg2-binary==2.8.5
pyarrow==0.17.0
pytz==2020.1
seaborn==0.10.0
scikit-learn==0.22.2.post1
scipy==1.4.1
sklearn==0.0
SQLAlchemy==1.3.16
tabulate==0.8.7
tensorflow==2.2.0
textblob==0.15.3
transformers==2.11.0
tzlocal==2.0.0
vaderSentiment==3.3.2
Werkzeug==1.0.1
WTForms==2.3.1

# The broken stuff
# Snappy direct from University of California Irvine
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/python_snappy-0.5.4-cp37-cp37m-win_amd64.whl
# TA-Lib Wrapper direct from UCI too
https://download.lfd.uci.edu/pythonlibs/w3jqiv8s/TA_Lib-0.4.18-cp37-cp37m-win_amd64.whl
# PyTrends original did not work
git+https://github.com/GeneralMills/pytrends

# Apt get install libmysqlclient-dev ubuntu
