{% extends 'layouts/main.html' %}
{% block title %}Backtests{% endblock %}
{% block content %}

<div class="block-header block-header-wit-add">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
  <h2>
    Backtests
    <small>Testing AIs on saved data</small>
  </h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="align-right" >
    <form method="post">
      <button name="action" value="add" type="submit" class="btn bg-green waves-effect waves-float">
        <i class="material-icons">add</i>
      </button>
    </form>
  </div>
  </div>
</div>
<div class="row">
    {% for bktest in bktests %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header bg-orange">
                <h1> {{bktest['name']}} </h1>
                <ul class="header-dropdown m-r--5">
                    <li>
                      <form class="inform" method="post" id="{{bktest['id']}}_Run">
                        <input type="hidden" name="id" value="{{bktest['id']}}" /><br>
                        <button type="submit" name="action" value="run" class="btn bg-green waves-effect waves-float"><i class="material-icons">directions_run</i></button>
                    </form>
                    </li>
                    <form class="inform" method="post" id="{{bktest['id']}}">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                          <ul class="dropdown-menu pull-right">
                              <input type="hidden" name="action" value="delete"/>
                              <input type="hidden" name="id" value="{{bktest['id']}}"/>
                              <li><a href="javascript:void(0);" onClick="document.forms['{{bktest['id']}}'].submit();" class=" waves-effect waves-block">
                                <i class="material-icons" style="color:red !important">delete_forever</i>Delete</a></li>
                          </ul>
                    </li>
                    </form>
                </ul>
            </div>
            <div class="body" style="padding-top:0px; padding-bottom:0px">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#info_only_icon_title_{{bktest['id']}}" data-toggle="tab" aria-expanded="true">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#timing_only_icon_title_{{bktest['id']}}" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">restore</i>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#charts_only_icon_title_{{bktest['id']}}" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">show_chart</i>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="info_only_icon_title_{{bktest['id']}}">
                        <b>Id:</b> {{bktest['id']}}<br>
						            <b>Run:</b> {{bktest['run']}}<br>
                        <b>Type:</b> {{bktest['type']}}<br>
                        <br>
                        <b>Cash:</b> {{bktest['cash']}}<br>
                        <b>Commission:</b> {{bktest['commission']}}%<br>
                        <b>Margin:</b> {{bktest['margin']}}<br>
                        <br>
                        <b>Native Enrichments:</b> {{bktest['native']}}<br>
                        <b>Entry AI:</b> {{bktest['entryai']}}<br>
                        {% if bktest['exitai'] != 'NotUsed'%}
                          <b>Exit AI:</b> {{bktest['exitai']}}<br>
                        {% endif %}
                        <b>TakeProfit:</b> {{bktest['tp']}}%<br>
                        <b>StopLoss:</b> {{bktest['sl']}}%<br>
                        {% if 'trailing' in bktest['type'] %}
                          <b>Trailing SL:</b> {{bktest['tsl']}}<br>
                          <b>ATR for TSL:</b> {{bktest['tatr']}}<br>
                        {% endif %}
                        <br>
                        <b>Last Run:</b> {{bktest['lastrun']}}<br>
                        <b>Final Profit:</b> {{bktest['fperc']}}%<br>
                        <b>Highest Profit:</b> {{bktest['hperc']}}%<br>
                        <b>Highest Drawdown:</b> {{bktest['dd']}}%<br>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="timing_only_icon_title_{{bktest['id']}}">
                        <b>Symbol:</b> {{bktest['symb']}}<br>
                        <b>TimeFrame:</b> {{bktest['timeframe']}}<br>
                        <b>Period:</b> {{bktest['period']}}<br>
                        <b>From:</b> {{bktest['from']|u2d}}<br>
                        <b>To:</b> {{bktest['to']|u2d}}<br>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="charts_only_icon_title_{{bktest['id']}}">
                      <a class="btn btn-block btn-lg btn-primary waves-effect" width="100%"
                      href="static/bt/{{bktest['id']}}_chart.html" target="_blank">
                      <i class="material-icons">show_chart</i><span>Chart</span></a>
                      <a class="btn btn-block btn-lg btn-success waves-effect" width="100%"
                      href="static/bt/{{bktest['id']}}_report.html" target="_blank">
                      <i class="material-icons">assignment</i><span>Report</span></a></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
