{% extends 'layouts/main.html' %}
{% block title %}Changelogs{% endblock %}
{% block content %}

<div class="container-fluid">
<div class="block-header">
	<h2>CHANGELOGS - ALPHA PHASE</h2>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.7
					<small>TBA</small>
				</h2>
			</div>
			<div class="body">
				<p>- Sentiment created</p>
				<p>- Trading created</p>
				<p>- Cleanup</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.6
					<small>31st May 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- AI created</p>
				<p>- Backtesting created</p>
				<p>- Setup created</p>
				<p>- Ops</p>
				<p>- Folder Change</p>
				<p>- H5 to TF modelling</p>
				<p>- Scarcity Fixup</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.5
					<small>2th May 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- Observatorium created</p>
				<p>- Code cleanup</p>
				<p>- Requirements created</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.4
					<small>28th April 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- Modified Menus</p>
				<p>- SQL tweaked</p>
				<p>- Data sampling</p>
				<p>- Alchemy created</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.3
					<small>26th April 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- Connections tweaked</p>
				<p>- Login created</p>
				<p>- Alchemy SQL Hell</p>
				<p>- Debugger added</p>
				<p>- Runners added</p>
				<p>- Changelog added</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.2
					<small>25th April 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- Frontend Framework added <a href="https://gurayyarar.github.io/AdminBSBMaterialDesign/index.html">AdminBSB-Material Design</a></p>
				<p>- Connections created</p>
				<p>- Data created</p>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="card">
			<div class="header">
				<h2>
					v0.0.1
					<small>24th April 2020</small>
				</h2>
			</div>
			<div class="body">
				<p>- Conceptualization</p>
				<p>- Flask Boilerplate</p>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %} -->
