{% extends 'layouts/main.html' %}
{% block title %}Connections{% endblock %}
{% block content %}

<div class="block-header block-header-wit-add">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
  <h2>
    CONNECTIONS
    <small>Connections to exchanges from configuration</small>
  </h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="align-right" >
    <form action="connections" method="post">
      <button name="action" value="add" type="submit" class="btn bg-green waves-effect waves-float">
        <i class="material-icons">add</i>
      </button>
    </form>
  </div>
  </div>
</div>
<div class="row">
    {% for con in connections %}
    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="card">
            <div class="header bg-light-blue">
                <h1> {{con['name']}} </h1>
                <small>{% if con['certified'] %}<b>Certified</b>{% endif %} {{con['type']}} exchange</small>
                <ul class="header-dropdown m-r--5">
                    <form action="connections" class="inform" method="post" id="{{con['id']}}">
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">more_vert</i>
                        </a>
                          <ul class="dropdown-menu pull-right">
                              <input type="hidden" name="action" value="delete"/>
                              <input type="hidden" name="con" value="{{con['id']}}"/>
                              <li><a href="javascript:void(0);" onClick="document.forms['{{con['id']}}'].submit();" class=" waves-effect waves-block">
                                <i class="material-icons" style="color:red !important">delete_forever</i>Delete</a></li>
                          </ul>
                    </li>
                    </form>
                </ul>
            </div>
            <div class="body" style="padding-top:0px; padding-bottom:0px">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab-nav-right" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#info_only_icon_title_{{con['id']}}" data-toggle="tab" aria-expanded="true">
                            <i class="material-icons">home</i>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#fees_only_icon_title_{{con['id']}}" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">attach_money</i>
                        </a>
                    </li>
                    <li role="presentation" class="">
                        <a href="#abilities_only_icon_title_{{con['id']}}" data-toggle="tab" aria-expanded="false">
                            <i class="material-icons">settings_input_component</i>
                        </a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="info_only_icon_title_{{con['id']}}">
                        <b>Id:</b> {{con['id']}}<br>
                        <b>Countries:</b> {{con['countries']}}<br>
                        <b>Most Common Fee:</b> {{ con['modefees'] * 100 }} % <br>
                        <b>URL:</b> <a href="{{con['www']}}">{{con['www']}}</a><br>
                        <b>Quotes:</b> {{con['quotes']}}<br>
                        <b>Total Pairs:</b> {{con['totpairs']}}<br>
                        <b>Timeout (ms):</b> {{con['timeout']}}<br>
                        <b>Rate Limit (ms):</b> {{con['ratelimit']}}<br>
                        <b>TimeFrames:</b> <br> {{con['timeframes']}}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="fees_only_icon_title_{{con['id']}}">
                      <label> Fees </label>
                      {% if con['fees']%}
                        <table class="table table-striped">
                          {% for key, value in con['fees'].items() %}
                             <tr>
                                  <th> {{ key }} </th>
                                  <td> {{ value * 100 }} % </td>
                             </tr>
                          {% endfor %}
                        </table>
                      {% endif %}
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="abilities_only_icon_title_{{con['id']}}">
                      <label> Abilities </label>
                        <table class="table table-striped">
                          {% for key, value in con['abilities'].items() %}
                             <tr>
                                  <th> {{ key }} </th>
                                  <td> {{ value }} </td>
                             </tr>
                          {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
