{% extends 'layouts/main.html' %}
{% block title %}Ops Runners{% endblock %}
{% block content %}

<script>
  //function to check if element is scrolled to the bottom
  function isElementScrolledToBottom(el) {
    if (el.scrollTop >= (el.scrollHeight - el.offsetHeight)) {
        return true;
    }
    return false;
  }

  //function to scroll to bottom
  function scrollToBottom(el) {
    el.scrollTop = el.scrollHeight;
  }
</script>

{% for name, runner in runners.items() %}
<div class="block-header">
  <h2>
    {{ name }}
    <small>{{ runner }}</small>
  </h2>
</div>
<pre id="output_{{ runner[0:5] }}" style="height:200px;overflow-y:auto;"></pre>

{% endfor %}

<script>
  var xhr = new XMLHttpRequest();

  {% for name, runner in runners.items() %}
      var output_{{ runner[0:5] }} = document.getElementById('output_{{ runner }}');
  {% endfor %}

  setInterval(function() {
      {% for name, runner in runners.items() %}
          xhr.open('GET', '/logstream/{{runner}}');
          xhr.send();
              output_{{ runner[0:5] }}.textContent = xhr.responseText;
              output_{{ runner[0:5] }}.scrollTop = output_{{ runner[0:5] }}.scrollHeight;
        {% endfor %}
    }, 3000);

</script>

{% endblock %}
