{% extends 'layouts/main.html' %}
{% block title %}Sentiment - RSS Feeds{% endblock %}
{% block content %}

<div class="block-header block-header-wit-add">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
  <h2>
    RSS Feeds
    <small>RSS Feeds from sources such as
      <a href="https://blog.feedspot.com/cryptocurrency_rss_feeds/">Crypto</a> or
      <a href="https://www.reddit.com/r/CryptoCurrency/top/.rss?format=xml">Reddit</a></small>
  </h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="align-right" >
    <form method="post">
      <button name="action" value="add" type="submit" class="btn bg-green waves-effect waves-float">
        <i class="material-icons">add</i>
      </button>
    </form>
  </div>
  </div>
</div>
<div class="row">
  {% for feed in rssfeeds %}
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header bg-orange">
        <h1>
          {{ feed['name'] }}
        </h1>
        <ul class="header-dropdown m-r--5">
          <li>
            <input type="checkbox" checked data-toggle="toggle" data-size="xs">
            <div class="switch">
              <label>
                <input id="{{ feed['id'] }}_rssSwitch" onChange="onFlip('{{ feed['id'] }}')"
                type="checkbox" {% if feed['enabled'] %} checked {% endif %}>
                <span class="lever switch-col-red"></span>
              </label>
            </div>
          </li>
          <script>
            function onFlip(id) {
                d = document.getElementById(id.concat("_rssSwitch")).checked;
                var xhr = new XMLHttpRequest();
                //console.log(d)
                xhr.open("POST", '/sent-rss', true);
                //Send the proper header information along with the request
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send('action=enable&status='+d+'&id='+id)
            }
          </script>
          <form class="inform" method="post" id="{{ feed['id'] }}">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <input type="hidden" name="action" value="delete"/>
                <input type="hidden" name="id" value="{{ feed['id'] }}"/>
                <li><a href="javascript:void(0);" onClick="document.forms['{{ feed['id'] }}'].submit();" class=" waves-effect waves-block">
                  <i class="material-icons" style="color:red !important">delete_forever</i>Delete</a></li>
                </ul>
              </li>
            </form>
          </ul>
        </div>
        <div class="body">
            <b>Id: </b> {{ feed['id'] }}<br>
            <b>URL: </b> {{ feed['url'] }}<br>
            <b>Using: </b> {{ feed['using'] }}<br>
            <b>Group: </b> {{ feed['group'] }}<br>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
