{% extends 'layouts/main.html' %}
{% block title %}Sentiment - Google Trends{% endblock %}
{% block content %}

<div class="block-header block-header-wit-add">
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:0px">
  <h2>
    Google Trends
    <small>Google Trends show public interest over time in percent</small>
  </h2>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
  <div class="align-right" >
    <form method="post">
      <button name="action" value="add" type="submit" class="btn bg-green waves-effect waves-float">
        <i class="material-icons">add</i>
      </button>
    </form>
  </div>
  </div>
</div>
<div class="row">
  {% for trend in trends %}
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="card">
      <div class="header bg-orange">
        <h2>
          {{ trend['keyword'] }}
        </h2>
        <ul class="header-dropdown m-r--5">
            <form class="inform" method="post" id="{{trend['id']}}">
            <li>
              <div class="switch">
                <label>
                  <input id="{{ trend['id'] }}_trendSwitch" onChange="onFlip('{{ trend['id'] }}')"
                  type="checkbox" {% if trend['enabled'] %} checked {% endif %}>
                  <span class="lever switch-col-red"></span>
                </label>
              </div>
            </li>
            <script>
              function onFlip(id) {
                  d = document.getElementById(id.concat("_trendSwitch")).checked;
                  var xhr = new XMLHttpRequest();
                  //console.log(d)
                  xhr.open("POST", '/sent-rss', true);
                  //Send the proper header information along with the request
                  xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                  xhr.send('action=enable&status='+d+'&id='+id)
              }
            </script>
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">more_vert</i>
              </a>
              <ul class="dropdown-menu pull-right">
                <input type="hidden" name="action" value="delete"/>
                <input type="hidden" name="id" value="{{trend['id']}}"/>
                <li><a href="javascript:void(0);" onClick="document.forms['{{trend['id']}}'].submit();" class=" waves-effect waves-block">
                  <i class="material-icons" style="color:red !important">delete_forever</i>Delete</a></li>
                </ul>
              </li>
            </form>
          </ul>
        </div>
        <div class="body">
            <b>Id: </b> {{ trend['id'] }}<br>
            <b>Keyword: </b> {{ trend['keyword'] }}<br>
            <b>Geo <a href="https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2">?</a>: </b> {{ trend['geo'] }}
            <br>
            <b>Period: </b> {{ trend['period'] }}<br>
            <b>Category <a href="https://github.com/pat310/google-trends-api/wiki/Google-Trends-Categories">?</a>: </b> {{ trend['cat'] }}<br>
            <b>Prop: </b> {{ trend['prop'] }}<br>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}
